<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
          http://www.springframework.org/schema/security  http://www.springframework.org/schema/security/spring-security-3.0.xsd"
	default-autowire="byName" default-lazy-init="false">
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location" value="classpath:cerberus.properties" />
	</bean>
	
	<bean id="authenticationDao" class="org.acegisecurity.userdetails.jdbc.JdbcDaoImpl">
		<property name="dataSource" ref="dataSource" />
		<property name="usersByUsernameQuery">
			<value>
				select user_name as username,password,enable from tb_user
				where user_name= ?
			</value>
		</property>
		<property name="authoritiesByUsernameQuery">
			<value>
				SELECT tb_user.user_name AS
				username,tb_user_privilege.authority FROM tb_user_privilege,tb_user
				WHERE tb_user.user_name=? AND
				tb_user_privilege.user_id=tb_user.user_id
			</value>
		</property>
	</bean>
	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.19.200/xinhua" />
		<property name="username" value="hawky" />
		<property name="password" value="hawky" />
	</bean>
	<!-- 为验证器提供以关系数据库作为储存方式的用于验证数据 -->
	<bean id="daoAuthenticationProvider"
		class="org.acegisecurity.providers.dao.DaoAuthenticationProvider">
		<property name="userDetailsService" ref="authenticationDao" />
	</bean>
	<!-- 授权器 -->
	<bean id="authenticationManager" class="org.acegisecurity.providers.ProviderManager">
		<property name="providers">
			<list>
				<ref bean="daoAuthenticationProvider" />
			</list>
		</property>
	</bean>
	<bean id="roleVoter" class="org.acegisecurity.vote.RoleVoter" />
	<!-- 授权器 -->
	<bean id="accessDecisionManager" class="org.acegisecurity.vote.AffirmativeBased">
		<property name="decisionVoters">
			<list>
				<ref bean="roleVoter" />
			</list>
		</property>
		<property name="allowIfAllAbstainDecisions" value="true" />
	</bean>
	<bean id="authenticateFilter" class="com.hawklithm.cerberus.AuthenticateFilter" />
	<bean id="httpSessionIntegrationFilter"
		class="org.acegisecurity.context.HttpSessionContextIntegrationFilter" /><!-- 
		查看是否能在当前会话中找到相应用户的认证信息 -->
	<bean id="filterChainProxy" class="org.acegisecurity.util.FilterChainProxy">
		<property name="filterInvocationDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/**=httpSessionIntegrationFilter,authenticationProcessingFilter,exceptionTranslationFilter,filterSecurityInterceptor
			</value>
		</property>
	</bean>
	<!-- channelProcessingFilter, -->
	<bean id="authenticationEntryPoint"
		class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilterEntryPoint">
		<property name="loginFormUrl" value="${login.url}" />
		<property name="forceHttps" value="false" />
	</bean>
	<!-- 通过配置可以对登陆请求进行雅正 -->
	<!-- 
	处理的URL
	验证失败转的页面
	默认的登陆后的界面
	
	 -->
	<bean id="authenticationProcessingFilter"
		class="org.acegisecurity.ui.webapp.AuthenticationProcessingFilter">
		<property name="filterProcessesUrl" value="/j_spring_security_check" />
		<property name="authenticationFailureUrl" value="${login.url}?login_error=1" />
		<property name="defaultTargetUrl" value="${default.index.afterlogin}" />
		<property name="authenticationManager" ref="authenticationManager" />
	</bean>
	<bean id="exceptionTranslationFilter" class="org.acegisecurity.ui.ExceptionTranslationFilter">
		<property name="authenticationEntryPoint" ref="authenticationEntryPoint" />
		<property name="accessDeniedHandler" ref="accessDeniedHandler" />
	</bean>
	<bean id="accessDeniedHandler" class="org.acegisecurity.ui.AccessDeniedHandlerImpl">
		<property name="errorPage" value="/error.htm" />
	</bean>
<!-- 资源请求的安全性配置
身份严震管理器器
组件管理器
URL对应的权限 -->
	<bean id="filterSecurityInterceptor"
		class="org.acegisecurity.intercept.web.FilterSecurityInterceptor">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="accessDecisionManager" ref="accessDecisionManager" />
		<property name="objectDefinitionSource">
			<value>
				CONVERT_URL_TO_LOWERCASE_BEFORE_COMPARISON
				PATTERN_TYPE_APACHE_ANT
				/test/test.html=ROLE_MOTORIST
			</value>
		</property>
	</bean>
	<bean id="autoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<value>securityInterceptor</value>
			</list>
		</property>
		<property name="beanNames">
			<list>
				<value>test</value>
			</list>
		</property>
	</bean>
	<!-- 资源请求的安全 性配置 -->
	<bean id="securityInterceptor"
		class="org.acegisecurity.intercept.method.aopalliance.MethodSecurityInterceptor">
		<!-- 身份验证管理器 -->
		<property name="authenticationManager">
			<ref bean="authenticationManager" />
		</property>
		<!-- 组建管理授权过程 -->
		<property name="accessDecisionManager">
			<ref bean="accessDecisionManager" />
		</property>
		<property name="objectDefinitionSource">
		  	<value> com.multiagent.hawklithm.transport.interface4rpc.RPCTransportOrderManagerInterface.*=ROLE_MANAGER
			</value>
		</property>
	</bean>
</beans>