body form {
  /*width: 100%;*/
  width: 800px;
  margin: 0 auto;
}
body form div.left {
  /*width: 15%;*/
  /*margin: 0 auto;*/

  float: left;
  margin-right: 10px;
  /*width: 100;*/

  /*margin-top: 20px;*/

  /*margin-left: 20px;*/

  /*margin: 0 auto;*/

}
body form div.left span {
  font-size: 20px;
  color: black;
  font-family: 微软雅黑;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  text-align: right;
  width: 90px;
  /*float: left;*/

  /*margin-top: 20px;*/

}
body form div.right {
  width: 700px;
  float: left;
}
body form div.right input {
  display: block;
  width: 696px;
  margin: 0 auto;
  margin-top: 20px;
}
body form div.right select {
  display: block;
  width: 700px;
  margin: 0 auto;
  margin-top: 20px;
  height: 22px;
}
body form div.right input[type="radio"] {
  width: 20px;
  display: inline-block;
}
body form div.right input[type="button"] {
  margin-top: 20px;
  height: 40px;
  width: 100px;
  border: none;
  background-color: #920101;
  color: white;
  font-family: 微软雅黑;
  font-size: 16px;
  float: left;
}
body form div.right input[type="button"]:hover {
  cursor: pointer;
}
body form div.right a {
  text-decoration: underline;
  color: blue;
  display: block;
  text-align: right;
}
