input[type="button"] {
  float: right;
  width: 84px;
  height: 30px;
  border: none;
  border-radius: 5px;
}
.first {
  width: 10%;
}
.second {
  width: 10%;
}
.third {
  width: 10%;
}
.fourth {
  width: 10%;
  text-align: center;
}
.fifth {
  width: 10%;
}
.sixth {
  width: 20%;
}
.seventh {
  width: 10%;
}
.ninth {
  width: 10%;
}
