<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Cerberus</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
            classpath:spring-context*.xml
        </param-value>
  </context-param>
  <listener>
    <listener-class>com.hawklithm.cerberus.RootListener</listener-class>
  </listener>
  <filter>
    <display-name>FilterToBeanProxy</display-name>
    <filter-name>FilterToBeanProxy</filter-name>
    <filter-class>org.acegisecurity.util.FilterToBeanProxy</filter-class>
    <init-param>
      <param-name>targetClass</param-name>
      <param-value>org.acegisecurity.util.FilterChainProxy</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>FilterToBeanProxy</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
 <!--   <servlet>
        <servlet-name>MessageTranslate</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>messageTranslateServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageTranslate</servlet-name>
        <url-pattern>/MessageTranslate</url-pattern>
    </servlet-mapping>
-->
    <!-- 订单 -->
    <servlet>
        <servlet-name>OrderManager</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>OrderManagerServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderManager</servlet-name>
        <url-pattern>/OrderManager</url-pattern>
    </servlet-mapping>
    <!-- 运单 -->
    <servlet>
        <servlet-name>TransManager</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>TransportManagerServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TransManager</servlet-name>
        <url-pattern>/TransManager</url-pattern>
    </servlet-mapping>
    <!-- 医院管理 -->
    <servlet>
        <servlet-name>HospitalManager</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>HospitalManagerServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>HospitalManager</servlet-name>
        <url-pattern>/HospitalManager</url-pattern>
    </servlet-mapping>
    <!-- 设备管理 -->
    <servlet>
        <servlet-name>MachineManager</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>MachineManagerServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>MachineManager</servlet-name>
        <url-pattern>/MachineManager</url-pattern>
    </servlet-mapping>
    <!-- 员工管理 -->
    <servlet>
        <servlet-name>StaffManager</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>StaffManagerServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>StaffManager</servlet-name>
        <url-pattern>/StaffManager</url-pattern>
    </servlet-mapping>
    <!-- 用户管理 -->
    <servlet>
        <servlet-name>UserManager</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>UserManagerServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserManager</servlet-name>
        <url-pattern>/UserManager</url-pattern>
    </servlet-mapping>
    <!-- 车辆管理 -->
    <servlet>
        <servlet-name>VehicleManager</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>VehicleManagerServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>VehicleManager</servlet-name>
        <url-pattern>/VehicleManager</url-pattern>
    </servlet-mapping>
     <!-- 流水信息管理 -->
    <servlet>
        <servlet-name>FlowRecordManager</servlet-name>
        <servlet-class>
            com.hawklithm.cerberus.servlet.ServletToBeanProxy
        </servlet-class>
        <init-param>
            <param-name>targetBean</param-name>
            <param-value>FlowRecordServlet</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FlowRecordManager</servlet-name>
        <url-pattern>/FlowRecordManager</url-pattern>
    </servlet-mapping>
</web-app>